@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');

@layer base {
  body {
    @apply font-sans antialiased animate-fadeIn m-0 p-0 text-gray-500 bg-gray-100;
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-4xl py-2 font-black text-gray-600;
  }
  h2 {
    font-family: 'Oooh Baby', cursive;
    @apply text-6xl;
  }

  .cursive {
    @apply font-family: 'Oooh Baby', cursive;
  }

  p {
    @apply py-5 leading-loose;
  }
}

.main {
  @apply shadow-2xl duration-1000 ease-in-out bg-white;
}

.home {
  @apply flex flex-col align-middle justify-center h-screen min-h-screen text-center;
  p {
    font-family: 'Oooh Baby', cursive;
    @apply mt-[-80px] text-[20px] leading-loose tracking-wide font-extrabold;

    span {
      @apply text-4xl;
    }
  }
}
.copyright {
  @apply text-[10px] text-center p-0;
}

footer {
  @apply pb-5 pt-10 text-gray-400;
  .icon-box {
    @apply container flex flex-wrap  max-w-sm mx-auto justify-center text-center text-sm text-gray-400;
    div {
      @apply w-1/3 mb-10;
    }
    svg {
      @apply w-full text-2xl;
    }
    a:hover {
      @apply text-black;
    }
  }
}

.end-of-page {
  @apply scale-[0.925] rounded-2xl;
}
